*.exe
*.o
*.i
*.elf
*.gba
*.sgm
*.sa1
*.sg1
*.1bpp
*.4bpp
*.8bpp
*.gbapal
*.lz
*.rl
*.latfont
*.hwjpnfont
*.fwjpnfont
sound/**/*.bin
sound/songs/midi/*.s
tools/agbcc
*.map
*.ld
*.bat
*.dump
*.sa*
Thumbs.db
build/
.DS_Store
*.ddump
pokeemerald-0.png
pokeemerald-1.png
pokeemerald-2.png
pokeemerald-3.png
pokeemerald-4.png
make.exe.stackdump
.idea/
porymap.project.cfg
.vscode/
